body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #222;
    text-align: center;
    padding: 50px;
}
h1 {
    color: #3c3c3c;
    text-shadow: 1px 1px 3px #bbb;
}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: purple;
}
a:active {
    color: red;
}
a:hover {
    color: green;
    text-decoration: underline;
}